Diagnostics:
  # 抑制“未使用的头文件”警告 
  UnusedIncludes: None
 

CompileFlags:
  # [关键] 移除 GCC 专用但 Clang 不认识的参数，防止干扰
  Remove: [-fno-rtti, -fno-exceptions, -mthumb-interwork]

  Add:
    # -----------------------------------------------------------
    # 1. 核心身份设定 (最重要！没有这些，Clangd 就会乱报错)
    # -----------------------------------------------------------
   
    # 告诉 Clangd 这是 ARM 裸机程序 (解决 size_t 大小和寄存器定义问题)
    - "--target=arm-none-eabi"
    # 你的 CPU 型号 (RA6M5 是 Cortex-M33)
    - "-mcpu=cortex-m33"
    - "-mfloat-abi=hard"
    - "-mfpu=fpv5-sp-d16"

    # -----------------------------------------------------------
    # 2. 头文件搜索路径 (基于你提供的路径)
    # -----------------------------------------------------------
    # C++ 标准库 (vector, functional 等)
    - "-isystem"
    - "D:/armGCC/arm-none-eabi/include/c++/15.2.1"
    
    # C++ 硬件适配库 (bits/c++config.h 等)
    - "-isystem"
    - "D:/armGCC/arm-none-eabi/include/c++/15.2.1/arm-none-eabi"
    
    # C++ 向后兼容库
    - "-isystem"
    - "D:/armGCC/arm-none-eabi/include/c++/15.2.1/backward"
    
    # C 标准库 (stdint.h, stdio.h 等)
    - "-isystem"
    - "D:/armGCC/arm-none-eabi/include"
    
    # 编译器内置库 (stddef.h, stdarg.h) - 这个路径可能不同，建议检查
    - "-isystem"
    - "D:/armGCC/lib/gcc/arm-none-eabi/15.2.1/include"